*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI',SegoeUI,'Microsoft JhengHei',微軟正黑體,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
}
nav,main,footer{
    padding: 0 70px;
}
nav{
    width: 100%;
    height: 55px;
}
.container{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
/* ---------------------left-nav-links-------------------- */
.left-nav-links{
    height: 100%;
}
.left-nav-links ul{
    height: 100%;
    display: flex;
    justify-content: flex-start;
}
.link{
    height: 100%;
    margin: 0 15px;
    display: flex;
    align-items: center;
}
.link.logo{
    width: 137px;
    padding: 10px;
    margin: 0;
    overflow: hidden;
}
.link.logo>img{
    width: 100%;
}
.link a{
    position: relative;
    font-size: 13px;
    color: black;
}
.link:hover a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #000;
}
/* -----------------------------right-opations---------------------- */
.right-opations{
    height: 100%;
    display: flex;
}
.opation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    font-size: 13px;
    cursor: pointer;
}
.opation.All-microsoft{
    padding: 0 20px;
    width: unset;
}
.opation.shopping{
    width: unset;
}
.opation.user{
    margin-left: 10px;
}
.opation>.fa{
    color: rgb(172, 161, 161);
    font-size: 15px;
}
.opation.All-microsoft>.fa{
    font-size: 20px;
}
.opation.user>.fa{
    font-size: 30px;
    margin-left: 10px;
}
.opation>a{
    position: relative;
    color: black;
}
.opation:hover:not(:last-child) a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #000;
}
/* --------------------main---------------- */
main{
    width: 100%;
    min-height: 100vh;
}
main>.container{
    display: block;
}
.swiper-selector{
    position: relative;
    display: block;
}
/* ----------------swiper---------------- */
.swiper{
    width: 100%;
    display: flex;
    cursor: pointer;
    overflow: hidden;
    margin: auto;
}

/* ---------------------swiper button------------------------- */

.previous,.next{
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 50%;
    background: white;
    border: none;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    outline: none;
}
.previous{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);   
}
.next{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%); 
}
.swiper:hover .previous,.swiper:hover .next{
    opacity: 1;
}
.previous:hover,.next:hover{
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
}

/* ------------------auto-picture------------------ */

.auto-picture{
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.auto-btns{
    margin-right: 10px;
    display: flex;
}
.auto-btn{
    margin: 5px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid #000;
}
.auto-btn:hover{
    background: rgba(0, 0, 0, .3);
}
.auto-btn.active{
    background: #000;
}
.picture-play{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture-play:hover{
    background: black;
    color: white;
}
.picture-play::before{
    content: '\f04c';
    font-family: 'Font Awesome 5 free';
    font-weight: 600;
    font-size: 10px;
}
.picture-play.active::before{
    content: '\f0da';
    font-family: 'Font Awesome 5 free';
    font-weight: 600;
    font-size: 20px;
}
    /* ---------------------pictures---------- */

.pictures{
    position: relative;
    width: 100%;
    display: none;  
}
.pictures.active{
    display: block;
}
.slider.lazypreload{
    width: 100%;
    animation: picture .5s;
}
@keyframes picture{
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
    }
}
.picture-content{
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    animation: picture-content 1s;
}
@keyframes picture-content {
    from{
        opacity: .5;
        left: 150px;
    }
    to{
        opacity: 1;
        left: 100px;
    }
}
.picture-content>p{
    margin-top: 20px;
}
.nowShopping{
    margin-top: 20px;
    height: 40px;
    width: 120px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.nowShopping>a{
    color: white;
    transition: .5s;
}
.nowShopping>.fa{
    font-size: 20px;
    margin: 0 5px;
}
.nowShopping:hover>a{
    border-bottom: 1px solid #fff;
    margin-right: 5px;
}
/* --------------------------selector-windows------------------------ */
.selector-windows{
    width: 100%;
    padding:50px 0;
}
.selector-windows>ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.windows-topImg{
    cursor: pointer;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.windows-topImg>img{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.windows-topImg span{
    font-weight: bold;
    font-size: 15px;
    position: relative;
}
.windows-topImg:hover>span::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #000;
}
/* ------------------------- main-shop-and-download shop-firt ----------------------- */
.main-shop-and-download{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
}
.topSecond{
    cursor: pointer;
    padding-bottom: 20px;
    overflow: hidden;
}
.topSecond:not(:last-child){
    margin-right: 20px;
}
.topSecond>img{
    width: 100%;
    object-fit: cover;
    object-position:center ;
    margin-bottom: 30px;
}
.topSecond:hover>img{
    opacity: .5;
}

.targetShopping{
    margin-right: 50%;
    margin-top: 20px;
    color: rgb(90, 151, 201);
}
.targetShopping>a{
    color: rgb(90, 151, 201);
    font-size: 14px;
    font-weight: bold;
    transition: .5s;
}
.twoShopping{
    display: flex;
    justify-content: flex-start;
}
.twoShopping .targetShopping{
    margin-right: 0;
    width: 40%;
}
.targetShopping:hover>a{
    margin-right: 5px;
    border-bottom: 1px solid rgb(90, 151, 201);
}

/* --------------------------- main-mid------------------------------*/
.main-mid{
    position: relative;
    height: 600px;
    width: 100%;
    cursor: pointer;
    margin-top: 50px;
}
.main-mid>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.mid-content{
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translate(0,-50%);
}
.mid-content>h1{
    font-weight: 500;
    margin-bottom: 10px;
}
.mid-content-target{
    margin-top: 20px;
    height: 40px;
    width: 120px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid-content-target>a{
    font-size: 15px;
    color: white;
    margin-right: 5px;
    transition: .3s;
}
.mid-content-target:hover>a{
    margin-right: 10px;
    border-bottom: 2px solid #fff;
}
.mid-content-target>.fa{
    color: white;
    font-size: 1.3em;
}
/* -------------------------main-shop-second > main-shop-and-download shop-second----------------- */
.main-shop-second{
    margin-top: 50px;
}
.main-shop-second>h1{
    margin-bottom: 20px;
}
/* -----------------------------------main-bot---------------------------------- */
.main-bot{
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
}
.main-bot>a:not(:last-child){
    margin: 0 15px;
}
.facebook{
    font-size: 30px;
    cursor: pointer;
}
.youtube{
    color: red;
    font-size: 30px;
    cursor: pointer;
}

/* -----------------------------------footer ----------------------------------- */
footer{
    background: rgba(121, 120, 120, 0.1);
    margin-top: 50px;
}
footer .container{
    margin: auto;
    padding: 40px 0 20px 0;
    display: block;
}

/* ------footer-Selector-Menu------- */
.footer-Selector{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}
.footer-Selector-Menu{
    flex:1;
}
.footer-Selector-Menu>h4{
    color: rgb(105, 98, 98);
}
.footer-Selector-Menu>ul{
    margin-top: 10px;
}
.Selector-li:not(:first-child){
    margin-top: 10px;
}
.Selector-li>a{
    font-size: 10px;
    color: rgba(99, 91, 91, .8);
    cursor: pointer;
}
.Selector-li>a:hover{
    color: rgb(99, 91, 91);
    border-bottom: 1px solid rgb(77, 70, 70);
}

/* -------footer-about--------- */
.footer-about{
    width: 100%;
    display: flex;
}

/* --------footer-about-left------ */
.footer-about-left{
    width: 50%;
}
.footer-about-left>ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.footer-left-li{
    margin-right: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer-left-li>.fa{
    font-size: 20px;
}
.footer-left-li>a{
    font-size: 10px;
    color: rgba(99, 91, 91, .8);
}
.footer-about-left>ul:hover .footer-left-li>a{
    border-bottom: 1px solid rgba(99, 91, 91, .8);
}

/* -------footer-about-right--------- */
.footer-about-right{
    width: 50%;
}
.footer-about-right>ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow:row wrap;
}
.footer-right-li{
    padding-right: 24px;
    padding-bottom: 4px;
}
.footer-right-li>a{
    font-size: 13px;
    color: rgba(99, 91, 91, .8);
}
.footer-right-li>span{
    font-size: 10px;
    color: rgba(99, 91, 91, .8);
}
.footer-right-li:hover>a{
    border-bottom: 1px solid rgba(99, 91, 91, .8);
}
@media(max-width: 1920px)
{
    
}
@media(max-width: 1366px)
{

}
@media(max-width: 1080px)
{
}
@media(max-width: 860px)
{
}
@media(max-width: 768px)
{
}
@media(max-width: 500px)
{
}